.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.iml
gertec/gertec-keystore.properties
positivo/positivo-keystore.properties
gertec/*.jks
positivo/*.jks
.kotlin
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/italo.santana.xcuserdatad/UserInterfaceState.xcuserstate
