<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>A2DP</string>
		<string>AVRCP</string>
		<string>HFP</string>
		<string>HSP</string>
		<string>SPP</string>
		<string>PBAP</string>
		<string>MAP</string>
	</array>
</dict>
</plist>
